@model OFRPDMS.Models.Center

@{
    ViewBag.Title = "Edit";
}
<fieldset>
<h2>Center Edit</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    
        <legend></legend>

        @Html.HiddenFor(model => model.Id)
		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="Save" />
        </p>
        
    <div>
    @Html.ActionLink("Back to List", "Index")
    </div>
}
    </fieldset>


