@model OFRPDMS.Models.PrimaryGuardian


<div class="input-control text">
    @Html.DropDownListFor(model => model.CenterId, ((IEnumerable<OFRPDMS.Models.Center>)ViewBag.PossibleCenters).Select(option => new SelectListItem {
        Text = (option == null ? "None" : option.Name), 
        Value = option.Id.ToString(),
        Selected = (Model != null) && (option.Id == Model.CenterId)
    }), "Choose...")
    @Html.ValidationMessageFor(model => model.CenterId)
</div>
