
@model OFRPDMS.Models.PrimaryGuardian

@{
    
    ViewBag.Title = "Create";
    
}


<h2>Add a New Family</h2>

@using (Html.BeginForm("Create", "PrimaryGuardians", FormMethod.Post))
{
    <fieldset>
        <legend>PrimaryGuardian</legend>

		@Html.EditorForModel()
       

    </fieldset>
    <p><input type="submit" value="Create" id ="submit_btn" /></p>
    
   }

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="../../Scripts/PrimaryGuardian/application.js" language="javascript" type="text/javascript"></script>



