@model OFRPDMS.Models.Allergy

<div class ="Allergy">

    <div class="input-control text">
        @Html.TextAreaFor(model => model.Note)
        @Html.ValidationMessageFor(model => model.Note)
    </div>
    
    
    @*
        @Html.HiddenFor(model =>model.Delete, new {@class = "mark-for-delete"})
        @Html.LinkToRemoveNestedForm("Remove Allergy...", "div.Allergy", "input.mark-for-delete")*@
        
</div>