@model OFRPDMS.Models.Allergy

<div class ="Allergy">

    <div class="editor-field">
        @Html.TextAreaFor(model => model.Note)
        @Html.ValidationMessageFor(model => model.Note)
    </div>
    

</div>