<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <connectionStrings>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="FakeMembershipProvider">
      <providers>
        <clear />
        <add name="FakeMembershipProvider" type="OFRPDMS.Tests.Providers.FakeMembershipProvider, OFRPDMS.Tests" connectionStringName="" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="FakeRoleProvider">
      <providers>
        <clear />
        <add name="FakeRoleProvider" type="OFRPDMS.Tests.Providers.FakeRoleProvider, OFRPDMS.Tests" connectionStringName="" applicationName="/" />
      </providers>
    </roleManager>
  </system.web>
</configuration>