@model OFRPDMS.Models.CenterReferral

@{
    ViewBag.Title = "Details";
}
<fieldset>
<h2>Refferal Details</h2>


    <legend></legend>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label">Center</div>
    <div class="display-field">@(Model.Center == null ? "None" : Model.Center.Name)</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Edit")
</p>

</fieldset>

