@model IEnumerable<OFRPDMS.Models.CenterReferral>

@{
    ViewBag.Title = "Index";
}
<fieldset>
<h2>Edit Successful</h2>
<p>
    @Html.ActionLink("Go to the Referrals Page", "Edit")
</p>


</fieldset>
