/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body {
    background-color: #FFFFFF;
    font-size: .87em;
    --font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
    border:  1px
}

a:link {
    --color: #034af3;
    text-decoration: none;
}

a:visited {
    --color: #034af3;
}

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

a:active {
    color: #12eb87;
}

p, ul {
    margin-bottom: 20px;
    line-height: 1.6em;
    
}

header,
footer,
nav,
section {
    display: block;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #008287;
}

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    padding: 0 0 10px 0;
    margin-left: 80px
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}



/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

header, #header {
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}

header h1, #header h1 {
    
    padding: 5px 0;
    margin: 0;
    color: #008287;
    border: none;
    line-height: 2em;
    font-size: 30px !important;
    font-weight:lighter;
    padding-top: 14px;
    padding-left: 27px
   
}
#menucontainer 
{ 
    --float: left; 
   --width: 20%;  
}
#admin_nav 
{ 
    float: right; 
    margin-right : 40px;  
}
#main 
{
    margin-left: 140px;
    margin-top: 40px;
    --padding: 30px 30px 15px 30px;
    background-color: #fff;
    width: 80%;
    --min-height: 400px;
}

footer, 
#footer 
{
    width: auto;
    background-color: #fff;
    color: #999;
    /*padding: 10px 0;*/
    text-align: center;
    line-height: normal;
    margin-left: 130px;
    font-size: .9em;    
  
}

/* TAB MENU   
----------------------------------------------------------*/
ul
{
    list-style-type:none;
    margin:0;
    padding:0;
}

    background-color: #008287;
ul#menu a:hover,ul#menu a:active
{
    background-color:rgb(4, 221, 230);
}

    background-color: #008287;
li
{
    display:inline;
}

    background-color:rgb(4, 221, 230);
ul#menu a#current,
ul#admin_menu a#currentCenter
{
    background-color:rgb(4, 221, 230);
}


/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

input[type="text"], 
input[type="password"] {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 200px;
    margin-bottom: 20px
}

select {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

input[type="submit"] {
    font-size: 1.2em;
    padding: 5px;
}

/* TABLE
----------------------------------------------------------*/


/* MISC  
----------------------------------------------------------*/
.clear {
    clear: both;
}

.error {
    color: Red;
}

nav, 
#menucontainer {
    --margin-top: 40px;
}

div#title {
    display: block;
    text-align: left;
}

#logindisplay {
    font-size: 1.1em;
    text-align: right;
    display: block;
    margin: 10px;
    position:absolute;
    Right:0px;
    top:0px;
}

#logindisplay a:link {
    color:#008287;
}

#logindisplay a:visited{
    color: #008287;
    
}

#logindisplay a:hover {
    color: rgb(4, 221, 230);
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #FF0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, 
.editor-label {
    margin: 1em 0 0 0;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}
