@model OFRPDMS.Models.OFRPDMSContext

@{
    ViewBag.Title = "Generate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Generate</h2>

<table>
    <tr>
        <th>
            # of new patient
        </th>
        <th>
            # of patient
        </th>
        <th></th>
    </tr>

  


    @for (int i = 0; i < 2; i++)
            {
                <tr>
                    <td>
                            <div class="display-field">
                            @Html.DisplayFor(model => model.Centers.Find(0).Name)
                            </div>
                    </td>

                    <td>
                    </td>
                </tr>
            }


</table>

