@model OFRPDMS.Models.Event

@{
    ViewBag.Title = "Delete";
}
<fieldset>
<h2>Delete Event</h2>

<h3>Are you sure you want to delete this? <font color = red>*All the Sign in Participants will be deleted as well for this date!</font></h3>

    <legend></legend>

    <b class="display-label">Date</b>
    <div class="display-field">
        @Model.Date.ToShortDateString()
    </div>

    <b class="display-label">Center</b>
    <div class="display-field">
        @Html.DisplayFor(model => model.Center.Name)
    </div>

@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Delete" /> 
    </p>
    
        @Html.ActionLink("Back to List", "Index")
}
</fieldset>