@model OFRPDMS.Models.Event

@{
    ViewBag.Title = "Details";
}
<fieldset>
<h2>Event Details</h2>


    <legend></legend>

    <b class="display-label">Date</b>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>

    <b class="display-label">Center</b>
    <div class="display-field">
        @Html.DisplayFor(model => model.Center.Name)
    </div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

</fieldset>
