@model OFRPDMS.Models.Event

@{
    ViewBag.Title = "Details";
}
<fieldset>
<h2>Event Details</h2>


    <legend></legend>

    <b class="display-label">Date</b>
    <div class="display-field">
        @Model.Date.ToShortDateString()
    </div>

    <b class="display-label">Center</b>
    <div class="display-field">
        @Html.DisplayFor(model => model.Center.Name)
    </div>

<p>
    @if (ViewBag.isAdmin)
    {
      <body>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
      </body>
    }       
    @Html.ActionLink("Back to List", "Index")
</p>

</fieldset>
