@model IEnumerable<OFRPDMS.Models.ChildAndGuardian>

@*This is a partial view is used to fetch primary guardians*@


<script src="/Scripts/jquery.tmpl.js" type="text/javascript"></script>
<script src="/Scripts/jquery.tmpl.min.js" type="text/javascript"></script>
<div id = "Search_box"> Search: 
<input type = "text" id = "PrimaryFirstName" /> 
<select id = "ptype"> 
<option>Primary</option>
<option>Secondary</option>
<option>Child</option>
</select>
<select id="oSelect"></select>
<input type = "button" id = "search_btn" value = "Search" />
</div>

<script type = "text/javascript">
    $.ajax({
        url: '/SignIn/findEvent',
        type: 'POST',
        success: function (data) {
            $('#oSelect').empty();
            for (var i = 0; i < data.length; i++) {
                $('#oSelect').append(new Option(data[i].date, data[i].id));
            }
        }
    });
    function addparticipant(id) {
        var _type = document.getElementById("ptype").value;
        var _eventid = document.getElementById("oSelect").value;
        
        $.ajax({
            url: '/SignIn/Add',
            type: "POST",
            datatype: "json",
            data: { id: id, type: _type, eventid: _eventid },
            success: function () { }
        });
    }
    $("#search_btn").click(function () {
        var text = document.getElementById("PrimaryFirstName").value;
        var _type = document.getElementById("ptype").value.toString();
        $.ajax({
            url: '/SignIn/Search',
            type: "POST",
            datatype: "json",
            data: { name: text, type: _type },
            success: function (data) {
                $('#datatable').empty();
                $('#tabletemplate').tmpl(data).appendTo('#datatable');
            }
        });
    });

</script>

<script id = "tabletemplate" type = "text/x-jquery-tmpl">
<tr>
    <td>${Fname}</td>
    <td>${Lname}</td>
    <td>${email}</td>
    <td>${phone}</td>
    <td>${prefix}</td>
    <td>${datacreate}</td>
    <td>${lang}</td>
    <td>${country}</td>
    <td><input type = "button" value = "Add" onclick = "addparticipant(${id})" /></td>
</tr>
</script>

    <table>
    <thead>
        <tr>
            <th>
              FirstName
            </th>
            <th>
                LastName
            </th>
            <th>
                Email
            </th>
            <th>
			     Phone
            </th>
            <th>
			    PostalCodePrefix
            </th>
            <th>
			    DateCreated
            </th>
            <th>
			    Language
            </th>
            <th>
			    Country
            </th>
        </tr>
        </thead>
       <tbody id = "datatable" >
    
        </tbody>
        </table>

