@model OFRPDMS.Models.EventParticipant

@{
    ViewBag.Title = "Delete";
}
<fieldset>
<h2>Delete Sign In</h2>

<h3>Are you sure you want to delete this?</h3>

    <legend></legend>

    <div class="display-label">Event</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Event.Id)
    </div>

    <div class="display-label">ParticipantId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ParticipantId)
    </div>

    <div class="display-label">ParticipantType</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ParticipantType)
    </div>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> 
       
    </p>
     @Html.ActionLink("Back to List", "Index")
}
</fieldset>
