@model OFRPDMS.Models.CenterFreeResource

@{
    ViewBag.Title = "Create";
}
<fieldset>
<h2>Create Resource</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    
        <legend></legend>

		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="Create" />
        </p>
    
}

<div>
    @Html.ActionLink("Back to List", "Edit")
</div>
</fieldset>


