@model OFRPDMS.Areas.Staff.Models.CenterFreeResourcesEdit

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @Html.EditorFor(x => x.CenterFreeResources)
    <input type="submit" value="Save" />       
    
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
