@model OFRPDMS.Models.Child

@* This partial view defines form fields that will appear when creating and editing entities *@
<div class="child_entry" id = "0">

    <div class="editor-field">
        <div id="child_first_name">First Name :<input type="text" value = "" name="Children_FirstName" id="child_first_name[0].FirstName" /></div><br />
    </div>


    <div class="editor-field">
        <div id="child_last_name">Last Name :<input type="text" value = "" name="Children_LastName" id="child_last_name[0].LastName"  /></div><br />
    </div>


    <div class="editor-field">
        <div id="child_birthdate">Birthdate :<input type="text" name="Children_Birthdate" id="child_birthdate_0"   /></div><br />
    </div>
</div>