@model OFRPDMS.Models.Child

@* This partial view defines form fields that will appear when creating and editing entities *@
<div class="child_entry" id=0>

    <div class="editor-field">
        <div id="child_first_name">First Name :<input type="text" name="Children[0].FirstName" id="child_first_name_0" /></div><br />
    </div>


    <div class="editor-field">
        <div id="child_last_name">Last Name :<input type="text" name="Children[0].LastName" id="child_last_name_0" /></div><br />
    </div>


    <div class="editor-field">
        <div id="child_birthdate">Birthdate :<input type="date" name="Children[0].Birthdate" id="child_birthdate_0" class="datepicker" /></div><br />
    </div>
</div>