
@model OFRPDMS.Models.PrimaryGuardian

@{
    
    ViewBag.Title = "Create";
    
}

<fieldset>
<h2>Create Primary Guardian</h2>

@using (Html.BeginForm("Create", "PrimaryGuardians", FormMethod.Post))
{
    
        <legend></legend>

		@Html.EditorForModel()
       

    
    <p><input type="submit" value="Create" id ="submit_btn" /></p>
    
   }

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
</fieldset>
<script src="../../Scripts/PrimaryGuardian/application.js" language="javascript" type="text/javascript"></script>



