@model OFRPDMS.Models.PrimaryGuardianBorrow

@{
    ViewBag.Title = "Create";
}
<fieldset>
<h2>Check-Out an Item</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    
        <legend></legend>

		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="Create" />
        </p>
    
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="../../Scripts/PrimaryGuardian/application.js" language="javascript" type="text/javascript"></script>
</fieldset>