@{
    ViewBag.Title = "Index";
}
<fieldset id="center">
@{
<h1>@ViewBag.CurrentCenterName</h1>
 }
@model IEnumerable<OFRPDMS.Models.ChildAndGuardian>

@*This is a partial view is used to fetch primary guardians*@

<div id = "search_space">
<script src="/Scripts/jquery.tmpl.js" type="text/javascript"></script>
<script src="/Scripts/jquery.tmpl.min.js" type="text/javascript"></script>
<div id = "Search_box"> Search: 
<input type = "text" id = "PrimaryFirstName" /> 
<select id = "ptype"> 
<option>Primary</option>
<option>Secondary</option>
<option>Child</option>
</select>
<input type = "button" id = "search_btn" value = "Search" />
</div>

<script type = "text/javascript">
    var parent = "<tr><th>FirstName</th><th>LastName</th><th>Email</th><th>Phone</th><th>PostalCodePrefix</th><th>DateCreated</th><th>Language</th><th>Country</th><th>Allergies</th></tr></thead>";
    var secondary = "<tr><th>FirstName</th><th>LastName</th><th>Phone</th><th>Associated To</th></tr>";
    var child = "<tr><th>FirstName</th><th>LastName</th><th>Birthday</th><th>Associated To</th><th>allergy</th></tr>";

    $("#search_btn").click(function () {
        var text = document.getElementById("PrimaryFirstName").value;
        var _type = document.getElementById("ptype").value.toString();
        $.ajax({
            url: '/Staff/Search',
            type: "POST",
            datatype: "json",
            data: { name: text, type: _type },
            success: function (data) {

                if (_type == "Primary") {
                    $('#head').empty();
                    $('#datatable').empty();
                    $("#head").append(parent);
                    $('#tabletemplate').tmpl(data).appendTo('#datatable');
                }
                if (_type == "Secondary") {
                    $('#head').empty();
                    $('#datatable').empty();
                    $("#head").append(secondary);
                    $('#secondary_tabletemplate').tmpl(data).appendTo('#datatable');
                }
                if (_type == "Child") {
                    $('#head').empty();
                    $('#datatable').empty();
                    $("#head").append(child);
                    $('#child_tabletemplate').tmpl(data).appendTo('#datatable');
                }

            }
        });
    });

</script>

<script id = "tabletemplate" type = "text/x-jquery-tmpl">
<tr>
    <td>${Fname}</td>
    <td>${Lname}</td>
    <td>${email}</td>
    <td>${phone}</td>
    <td>${prefix}</td>
    <td>${datacreate}</td>
    <td>${lang}</td>
    <td>${country}</td>
    <td>${allergy}</td>
</tr>
</script>

<script id = "secondary_tabletemplate" type = "text/x-jquery-tmpl">
<tr>
    <td>${Fname}</td>
    <td>${Lname}</td>
    <td>${phone}</td>
    <td>${relationshiptoGuardian}</td>
</tr>
</script>

<script id = "child_tabletemplate" type = "text/x-jquery-tmpl">
<tr>
    <td>${Fname}</td>
    <td>${Lname}</td>
    <td>${birthday}</td>
    <td>${relationshiptoGuardian}</td>
    <td>${allergy}</td>
</tr>
</script>

<div>
    <table class="hovered" >
    <thead id = "head">
    </thead>
       <tbody id = "datatable" >
       
        </tbody>
        </table>

        </div>
        </div>  

  </fieldset>