@{
    Layout = "~/Views/Shared/_LayoutGlobal.cshtml";
}
<div id="menucontainer">
    <ul id="menu">
        <li>@Html.ActionLink("+ New Centers", "Index", "Centers")</li>
        <li>@Html.ActionLink("Generate Report", "Index","Report")</li>
    </ul>
</div>
<div id="main">
    @RenderBody()
</div>
