@model IEnumerable<OFRPDMS.Models.Center>

@foreach (var item in Model)
{
    <li>@Html.RouteLink(item.Name, "Staff_default", new { centerIdArg = item.Id, controller = "Staff", action = "Index" })</li>

}