@{
    Layout = "~/Views/Shared/_LayoutGlobal.cshtml";
    var currentController = ViewContext.RouteData.Values["controller"] as string ?? "Home";
}
<div class ="page-sidebar" id="menucontainer">
    <ul id="menu">

        <li class="sticker sticker-color-blue">@Html.ActionLink("Centers", "Index", "Centers", null, new { id = currentController == "Centers" ? "current" : "" })</li>
       
    </ul>
    <ul>
         <li class="sticker sticker-color-orange">@Html.ActionLink("Generate Report", "Index", "Report", null, new { id = currentController == "Report" ? "current" : "" })</li>
    </ul>
</div>

<div id="main">
    @RenderBody()
</div>

